.main {
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  color: #fff;
  padding: 1rem;
  min-height: 100vh;
}


.twoTables {
  display: flex;
  justify-content: center;
}

.tableGas {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100%;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  background-image: url("https://www.transparenttextures.com/patterns/broken-noise.png");
  border-color: #1b4cdd00;
  font-size: 20px;
}

.tableGas:hover {
  background-color: #3c70ff83;
}

.gasTXInfo{
  padding: 0px 150px;
}

.material_table {
  width: 100%;
  background-color: #ededed;
  border-radius: 10px;
}

.material_table__nameTransaction {
  width: 210px;
  border-top-left-radius: 10px;
}

.material_table__gasPrice {
  width: 150px;
}

.material_table__USDCost{
  border-top-right-radius: 10px;
}

.material_table__rawLeft {
  border-bottom-left-radius: 10px;
}

.material_table__rawRight {
  border-bottom-right-radius: 10px;
}


.material_table th {
  background-color: #000000de;
  color: #ffffff;
  text-align: left;
  padding: 12px;
}

.material_table td {
  color: #000;
  padding: 12px;
  border-bottom: 1px solid #e0e0e0de;
}

.material_table tr:hover {
  background-color: #b6b6b6;
}

.material_table input {
  border-color: #000000;
  border-radius: 5px;
  padding: 1.5px;
  background-color: transparent;
  color: #000;
  width: 100%;
  border-top-color: #00000000;
    border-left-color: #00000000;
    border-right-color: #00000000;
}

.link {
  color: #77add9;
  text-decoration: none;
}

.link:hover {
  color: #4ea1e4;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.lds_hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds_hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds_hourglass 1.2s infinite;
}

@keyframes lds_hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}

.header {
  background-color: #1f1f1f;
  color: #fff;
  font-family: monospace;
  padding: 1rem;
}

@media (max-width: 1000px) {
  .gasTXInfo{
    padding: 0px 0px;
  }
}

/*phone size*/
@media (max-width: 600px) {
  .description {
    flex-direction: column;
  }

  .logo {
    width: 100%;
  }

  .material_table{
    font-size: 12px;
  }
  .material_table__nameTransaction {
    width: 90px;
  }

  .material_table input {
    width: 100%;
    
  }

  .material_table__gasPrice {
    width: 90px;
  }

  .tableGas {
    width: 100%;
  }

  .material_table input {
    width: 100%;
  }
}

/*280x653*/
@media (max-width: 300px) {
  .material_table{
    font-size: 10px;
  }
  .material_table th {
    padding: 5px;
  }
  .material_table td {
    padding: 5px;
  }
  .material_table__gasPrice {
    width: 60px;
  }
}